header {
    background: #1F2937;
    display: flex;
}

a:link {
    color: #F9FAF8;
    text-decoration: none;
}

.logo {
    color: #F9FAF8;
    font-size: 24px;
    margin-left: 100px;
}

links {
    font-size: 18px;
    color: #E5E7EB;
    display: flex;
    gap: 15px;
    margin-left: auto;
    margin-right: 75px;
    align-items: center;
}

hero {
    background: #1F2937;
    display: flex;
}

left {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex-shrink: 0;
    padding: 100px;
    width: 350px
}

.awe {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 1000;
}

button {
    width: 75px;
    background: #3882F6;
    color: #F9FAF8;
}

.pic {
    display: flex;
    margin: 100px;
    height: 150px;
    width: 450px;
    border: 1px;
    background: #E5E7EB;
}

footer {
    height: 25px;
    background: #1F2937;
    display: flex;
}

.bottom {
    color: #E5E7EB;
    margin: auto;
}